@charset "UTF-08";
@media screen and (min-width: 600px){
}
@media screen and (min-width:600px) and (max-width: 1920px){
    header{
        padding-bottom: 0px;
        width: 100vw;
        height: 200px;
        padding-top: 10px;
    }
    header > h1{
        font-size: 3em;
    }
    /*header > menu > a > img{
        width: 50px;} */
    
    menu#voltar_imagem{
        width: 50px;
        padding-left: 20px;
        padding-bottom: 0px;
    }
    #voltar_imagem{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    menu#voltar_imagem > a > img{
    border-radius: 50%;
    transform: translate(-3px, -3px);
    box-shadow:5px 5px 10px rgba(37, 37, 37, 0.6); ;
    transition: transform 2s, border 2s; 
}
    header > h1{
        padding: 30px;
    }
    span#burguer{
        display: none;
    }
    menu{
        display: block;
        padding-bottom: 10px;
        background-color:#F80032;
        padding-top: 10px;
    }
    menu > ul {
        padding-top: 20px;
    }

    menu > ul > li {
        display: inline-block;
    }
    menu > ul > li > a{
        display: block;
        border-radius: 5px;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
        width: 108px;
    }

    main{
       width: 1680px; 
       padding-top: 20px;
       padding-bottom: 0px;
      padding-left: 0px;
      
    }
}
   


       
    
