@charset "UTF-08";


:root{
    --cor0: black; 
    --cor1: #6CC947; 
    --cor2: #EC0059; 
    --cor3: #F80032;
    --cor4: #EAEAEA; 
    --cor4: #F1F1F1; 
    --cor5: white; 
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', arial;
    font-size: 1em;
}
html, body{
    background: white;
    min-width: 70vh;
    overflow-x: hidden;/*FIXA A BARRA DE ROLAGEM*/

}
header{
    background-color: #F80032;
    text-align: center;
    
}

header > h1{
    font-family: 'Mochiy Pop One', sem serifa;
    color: white;
    font-size: 2em;
    width: normal;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
   
    font-variant: small-caps; /*Continuo tendo as letras maísculas, mas com a primeira letra maior*/
    
}
header > menu > a > img{
    width: 50px;
}
span#burguer{
    background-color: #F80032;
    color: var(--cor1);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}
span#burguer:hover{
    background-color: gray;
}

menu{
    display: none; 
}
menu#itens{
    border-radius: 5px;
   
   
   
}
menu > ul{
    list-style-type: none;
    padding-bottom: 0px;
    
}
menu > li{
    width: 108px;
    
}

menu >ul > li > a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #6CC947;
    border-top: 0px solid var(--cor4);
    padding: 10px;
    margin-bottom: 1px;
    
}
menu > ul > li >a:hover{
    background-color: var(--cor2);
}

main{
    font:var(--fonte-padrao);
    min-width: 100vh;
    margin: auto;
    padding: 0px;
    margin-bottom: 10px;
}
   

article > h2{
    font-family: 'Mochiy Pop One', sem serifa;
    color: #F80032;
   
}
#formulario{
    margin: auto;
    padding-right: 30px;
}
#formulario > h2{
    font-family: 'Mochiy Pop One', sem serifa;
    color: #F80032;
}
section > h2{
    font-size: 2em;
}
section.normal{
    background-color:#EAEAEA;
    color: #F80032;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em; /* espaçament0 entre linhas*/
}
section.imagem{
    background-color: #F80032;
    color: #EAEAEA;
    box-shadow: inset/* sombra para dentro */ 6px 6px 13px 0px rgba(0, 0, 0, 0.473); 
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.454);
    width: 400px;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
}
section#normal > h2{
    font-variant: small-caps;
    font-family: 'Mochiy Pop One', sem serifa;
}

section#web1{
    background-image: url("/imagens/web1.jpg");
    background-position: right center;
}
section#web2{
    background-image: url("/imagens/Web2.jpg");
}
fieldset {
    border-color: rgb(255, 0, 0);
    border-radius: 10px;
    text-align: center;
    border-style: groove;
    margin: 0px;
}
#dados_pessoais{
    text-align: left;
    margin-left: 10px;

}
footer{
    background-color: #EAEAEA;
    padding: 10px;
}