@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?familia=Nunito:wght@200;400;600&family=Rum+Raisin&display=swap');


:root{
    --cor0: black;   
    --cor3: #F80032;
    --cor4: #EAEAEA; 
    --cor4: #F1F1F1; 
    --cor5: white; 
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif ;
    font-size: 1em;
}
html, body{
    background: white;
    min-width: 70vh;
    overflow-x: hidden;/*FIXA A BARRA DE ROLAGEM*/

}
header{
    background-color: #F80032;
    text-align: center;
    height: 250px;
    padding-bottom: 20px;
}

header > h1{
    font-family: 'Rum Raisin', sans-serif;
    color: white;
    font-size: 2em;
    width: normal;
    text-align: center;
    padding-bottom: 30px;

    padding-top: 30px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
   
    /*font-variant: small-caps; Continuo tendo as letras maísculas, mas com a primeira letra maior*/
    
}
header > menu > a > img{
    width: 50px;
}
span#burguer{
    background-color: #F80032;
    color: #607dfe;
    display: block;
    text-align: center;
    padding: px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
}
span#burguer:hover{
    background-color: rgba(128, 128, 128, 0.187);
}

menu{
    display: none; 
    background-color: #EAEAEA;
    
}
menu#itens{
    border-radius: 5px;
}
menu > ul{
    list-style-type: none;
    border-bottom: #607dfe;
    
    
}
menu > li{
    width: 108px;
    
}

menu >ul > li > a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #607dfe;
    border-top: 1px solid var(--cor4);
    padding: 10px;
    
    
    
}
menu > ul > li >a:hover{
    background-color: gray;
}

main{
    font-family: 'Nunito';
    min-width: 100vh;
    padding-top: 10px;

    


    
}
main::first-letter{
    text-transform: capitalize;
}
   

main > section> h2{
    font-family: 'Rum Raisin', sans-serif;
    color: #F80032;
    font-size: 3em;
    
    
   
}
#formulario{
    margin: auto;
    padding-right: 30px;
}
#formulario > h2{
    font-family: 'Nunito', sans-serif;
    color: #F80032;
    
    
}
section > h2{
    font-size: 2em;
    padding-bottom: 15px;
    padding-left: 10px;
}
section.normal{
    background-color:#EAEAEA;
    color: black;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em; /* espaçament0 entre linhas*/
}
section.imagem{
    background-color: #F80032;
    color: #EAEAEA;
    box-shadow: inset/* sombra para dentro */ 6px 6px 13px 0px rgba(0, 0, 0, 0.473); 
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.454);
    width: 400px;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
    
}
section#normal > h2{
    font-variant: small-caps;
    font-family: 'Nerko Um', sans-serif;
}

section#web1{
    background-image: url("/imagens/web1.jpg");
    background-position: right center;
}
section#web2{
    background-image: url("/imagens/Web2.jpg");
}
fieldset {
    border-color: rgb(255, 0, 0);
    border-radius: 10px;
    text-align: center;
    border-style: groove;
    margin: 0px;
    padding-bottom: 10px;
}
#dados_pessoais{
    text-align: left;
    margin-left: 10px;
}
input#button{
    background-color: #607dfe;
    color: #EAEAEA;
    border-color: #607dfe;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.42);
}
footer{
    background-color: gray;
    padding: 20px;
    color: #EAEAEA;
    
}
footer > p > a{
    text-decoration: none;
    color: #EAEAEA ;
}
footer > p > a:hover{
    background-color: #607dfe;
}